<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Channels</title>
</head>
<body>
  <h1>Channels</h1>
  <ul>
    <% channels.forEach(channel => { %>
      <li><%= channel.name %></li>
    <% }); %>
  </ul>
</body>
</html>
